<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794547691533-2n5vrlkj2pbnvn6gs3j0pvfpvr2pcgb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794547691533-2n5vrlkj2pbnvn6gs3j0pvfpvr2pcgb4</string>
	<key>API_KEY</key>
	<string>AIzaSyD2kBVeNQa87fuOdzYYD6gg932_flSNhUo</string>
	<key>GCM_SENDER_ID</key>
	<string>794547691533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joinforma.app</string>
	<key>PROJECT_ID</key>
	<string>forma-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>forma-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794547691533:ios:e0d6ef1fc3bcba0801b544</string>
</dict>
</plist>